.button {
    background-color: #ff6f61;
    color: white;
    margin: 1em;
    padding: .6em 6em;
    border-radius: 30px; 
    text-align: center;
    cursor: pointer;
}

.button:hover {
    background: #eb6457;
}

.container {
    background-color: gray;
    align-content: center;
    max-width: 90%;
    height: 500px;
    padding: 10px;
    margin-top: 5%;
    margin-bottom: 5%;
    border-radius: 30px;
}

.other-container{
    background-color: #333333ff;
    align-content: center;
    padding: 0.5em;
    border-radius: 25px;
    height: 29.75em;
}

.input {
    background-color: white;
    margin: 1em;
    padding: .6em 6em;
    border-radius: 30px; 
    text-align: center;
    color:gray;
    border: none;
}

input:focus {
    outline:none;
}

.flex-container {
    display: flex;
    flex-wrap: nowrap;
    align-content: center;
    flex-direction: row;
}

.flex-container div {
    margin-left: auto;
    margin-right: auto;
}

.sequence {
    display: flex;
    flex-direction: column;
}

.spiral {
    display: flex;
    flex-direction: column;
}