.button {
    background-color: #ff6f61;
    text-align: center;
    color: white;
    
}

.container {
    background-color: #333333ff;
    align-content: center;
    max-width: 90%;
    height: auto;
    padding: auto;
    margin-top: 20px;
}

.input {
    background-color: white;
    text-align: center;
}